body {
    font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Segoe UI","Microsoft Yahei",Tahoma,Arial,STHeiti,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
}
h3{
    font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Segoe UI","Microsoft Yahei",Tahoma,Arial,STHeiti,sans-serif;
}

a{
    color: #000;
    transition: all 0.1s linear; 
    -moz-transition: all 0.1s linear; 
    -webkit-transition: all 0.1s linear; 
    -o-transition: all 0.1s linear;
}

a:hover{
    color: #d2322d;
    transition: all 0.1s linear; 
    -moz-transition: all 0.1s linear; 
    -webkit-transition: all 0.1s linear; 
    -o-transition: all 0.1s linear;
}

.clear{
    clear: both;
}

.float-r{
    float: right;
}

.talign-r{
    text-align: right;
}

.minor-text{
    color: #999;
    font-size: 13px;
}
.wrapper{
    margin-top: 80px;
}

.content{
    margin: auto;
    padding: 10px 0px;
}

@media(min-width: 468px){
    .content{
        padding: 10px 0px;
        width: 424px;
    }
}

@media(min-width: 680px){
    .content{
        padding: 25px 0;
        width: 636px;
    }
}

@media(min-width: 998px){
    .content{
        padding: 25px 39px;
        width: 928px;
    }
}

@media(min-width: 1200px){
    .content{
        padding: 25px 39px;
        width: 1138px;
    }
}

.login{
    margin: 0;
}

.login .nav_li{
    float: right;
}

.login .nav_li button{
    margin-top: 8px;
    margin-right: 15px;
}

@media(min-width:768px){
    .login{
        float: right;
    }
}

.login li a{
    color: #999;
    padding: 15px 0;
}

.login li a:hover{
    background: none;
    color: #fff;
}

.login .btn-sm{
    display: none;
}

@media(max-width:767px){
    .login li{
        text-align: center;
    }

    .login li a{
        display: none;
    }

    .login li button{
        display: none;
    }

    .login .btn-sm{
        display: block;
        font-size: 14px;
        margin: 10px auto;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%
    }
}

.list-group .active{
    z-index: 2;
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}
