.banner{
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    margin: 0 10px 20px 10px;
    box-shadow: 0 0 3px #ddd;
}

ul{
    margin: 0;
    padding: 0;
}
ul .item{
    float: left;
}

ul .item img{
    width: 20px;
    margin-right: 5px;
}

@media(max-width:468px){
    .banner{
        margin-left: 0;
        margin-right: 0;
    }
}

.item .info{
    font-size: 10px;
    margin-top: -27px;
    text-align: right;
}

.item .title{
    padding: 18px 5px 11px;
    font-size: 13px;
    font-weight: bold;
}

.item .title a{
    font-size: 13px;
}

.item .info .price{
    background: rgba(185,185,185,0.65);
    color: #fff;
    padding: 5px;
}

.size{
    float: right;
    margin: -43px 0 0 0;
}

.label{
    background: #f3f3f3;
    border: 1px solid #ccc;
    color: gray;
    font-size: 12px;
    line-height: 12px;
    padding: 4px 8px 4px;
}

.loc a{
    color: gray;
}

.list-group-item{
    cursor: pointer;
}

input[type="file"]{
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
    cursor: pointer;
    width: 60px;
    font-size: 12px;
    line-height: 12px;
    margin-left: -60px;
    padding-top: 24px;
}

.upload{
    width: 60px;
}

#pre_img{
    margin-left: 5px;
}

#btn_submit{
    height: 42px;
    width: 100%;
}
