.share_btns{
    margin-top: 30px;
}

#btn_container{
    display: none;
}

@media(max-width:640px){
    #btn_container{
        display: block;
        position:absolute;
        bottom: 80px; 
        width: 100%;
    }
}

.content{
    margin-bottom: 80px;
}
